Builds/Spreadsheets/FPAScoresheets.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="FPAScoresheets"
    targetNamespace="http://freestyledisc.org/FPAScoresheets.xsd"
    elementFormDefault="qualified"
    xmlns="http://freestyledisc.org/FPAScoresheets.xsd"
    xmlns:mstns="http://freestyledisc.org/FPAScoresheets.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
    <xs:element name="ScoreSheet" type="ScoreSheet"/>
   
   
    <!--<xs:element name="ResultSet">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Result" type="Result" minOccurs="0" maxOccurs="100"/>
            </xs:sequence>
            <xs:attribute name="totalResultsAvailable" type="xs:integer"/>
            <xs:attribute name="totalResultsReturned" type="xs:integer"/>
            <xs:attribute name="firstResultPosition" type="xs:integer"/>
            
        </xs:complexType>       
        
    </xs:element>-->
    
    <xs:complexType name="ScoreSheet">
        <xs:sequence>
            <xs:element name="RoundSettings" type="RoundSettings"/>
            <xs:element name="Judges" type="Judges"/>
            <xs:element name="Players" type="Players"/>
            <xs:element name="Ex1" type="Ex1"/>
            <xs:element name="Ex2" type="Ex2"/>
            <xs:element name="Ex3" type="Ex3"/>
            <xs:element name="Ai1" type="Ai1"/>
            <xs:element name="Ai2" type="Ai2"/>
            <xs:element name="Ai3" type="Ai3"/>
            <xs:element name="Diff1" type="Diff1"/>
            <xs:element name="Diff2" type="Diff2"/>
            <xs:element name="Diff3" type="Diff3"/>
            <xs:sequence>
                <xs:element name="Result" type="Result" minOccurs="0" maxOccurs="100"/>
            </xs:sequence>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RoundSettings">
        <xs:sequence>
            <xs:element name="EventTitle" type="xs:string"/>
            <xs:element name="EventSubtitle" type="xs:string"/>
            <xs:element name="Division" type="xs:string"/>
            <xs:element name="Round" type="xs:string"/>
            <xs:element name="Pool" type="xs:string" />
            <xs:element name="Date" type="xs:date" />
            <xs:element name="Time" type="xs:dateTime"/>
            <xs:element name="Pool" type="xs:string" />
            <xs:element name="HeadJudge" type="xs:string" />
            <xs:element name="Minutes" type="xs:double" />
            <xs:element name="NumberOfJudgesForCategory" type="xs:int" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Judges">
        <xs:sequence>
            <xs:element name="Ex1" type="xs:string"/>
            <xs:element name="Ex2" type="xs:string"/>
            <xs:element name="Ex3" type="xs:string"/>
            <xs:element name="Ai1" type="xs:string"/>
            <xs:element name="Ai2" type="xs:string"/>
            <xs:element name="Ai3" type="xs:string"/>
            <xs:element name="Diff1" type="xs:string" />
            <xs:element name="Diff2" type="xs:string" />
            <xs:element name="Diff3" type="xs:string" />       
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Players">
      <xs:sequence>
        <xs:element name="Team1Player1" type="xs:string"/>
        <xs:element name="Team1Player2" type="xs:string"/>
        <xs:element name="Team1Player3" type="xs:string"/>
        <xs:element name="Team2Player1" type="xs:string"/>
        <xs:element name="Team2Player2" type="xs:string"/>
        <xs:element name="Team2Player3" type="xs:string"/>
        <xs:element name="Team3Player1" type="xs:string"/>
        <xs:element name="Team3Player2" type="xs:string"/>
        <xs:element name="Team3Player3" type="xs:string"/>
        <xs:element name="Team4Player1" type="xs:string"/>
        <xs:element name="Team4Player2" type="xs:string"/>
        <xs:element name="Team4Player3" type="xs:string"/>
        <xs:element name="Team5Player1" type="xs:string"/>
        <xs:element name="Team5Player2" type="xs:string"/>
        <xs:element name="Team5Player3" type="xs:string"/>
        <xs:element name="Team6Player1" type="xs:string"/>
        <xs:element name="Team6Player2" type="xs:string"/>
        <xs:element name="Team6Player3" type="xs:string"/>
        <xs:element name="Team7Player1" type="xs:string"/>
        <xs:element name="Team7Player2" type="xs:string"/>
        <xs:element name="Team7Player3" type="xs:string"/>
        <xs:element name="Team8Player1" type="xs:string"/>
        <xs:element name="Team8Player2" type="xs:string"/>
        <xs:element name="Team8Player3" type="xs:string"/>
        <xs:element name="Team9Player1" type="xs:string"/>
        <xs:element name="Team9Player2" type="xs:string"/>
        <xs:element name="Team9Player3" type="xs:string"/>
        <xs:element name="Team10Player1" type="xs:string"/>
        <xs:element name="Team10Player2" type="xs:string"/>
        <xs:element name="Team10Player3" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Ex1">
      <xs:sequence>
        <xs:element name="Team1Point1" type="xs:string"/>
        <xs:element name="Team1Point2" type="xs:string"/>
        <xs:element name="Team1Point3" type="xs:string"/>
        <xs:element name="Team1Point5" type="xs:string"/>
        <xs:element name="Team2Point1" type="xs:string"/>
        <xs:element name="Team2Point2" type="xs:string"/>
        <xs:element name="Team2Point3" type="xs:string"/>
        <xs:element name="Team2Point5" type="xs:string"/>
        <xs:element name="Team3Point1" type="xs:string"/>
        <xs:element name="Team3Point2" type="xs:string"/>
        <xs:element name="Team3Point3" type="xs:string"/>
        <xs:element name="Team3Point5" type="xs:string"/>
        <xs:element name="Team4Point1" type="xs:string"/>
        <xs:element name="Team4Point2" type="xs:string"/>
        <xs:element name="Team4Point3" type="xs:string"/>
        <xs:element name="Team4Point5" type="xs:string"/>
        <xs:element name="Team5Point1" type="xs:string"/>
        <xs:element name="Team5Point2" type="xs:string"/>
        <xs:element name="Team5Point3" type="xs:string"/>
        <xs:element name="Team5Point5" type="xs:string"/>
        <xs:element name="Team6Point1" type="xs:string"/>
        <xs:element name="Team6Point2" type="xs:string"/>
        <xs:element name="Team6Point3" type="xs:string"/>
        <xs:element name="Team6Point5" type="xs:string"/>
        <xs:element name="Team7Point1" type="xs:string"/>
        <xs:element name="Team7Point2" type="xs:string"/>
        <xs:element name="Team7Point3" type="xs:string"/>
        <xs:element name="Team7Point5" type="xs:string"/>
        <xs:element name="Team8Point1" type="xs:string"/>
        <xs:element name="Team8Point2" type="xs:string"/>
        <xs:element name="Team8Point3" type="xs:string"/>
        <xs:element name="Team8Point5" type="xs:string"/>
        <xs:element name="Team9Point1" type="xs:string"/>
        <xs:element name="Team9Point2" type="xs:string"/>
        <xs:element name="Team9Point3" type="xs:string"/>
        <xs:element name="Team9Point5" type="xs:string"/>
        <xs:element name="Team10Point1" type="xs:string"/>
        <xs:element name="Team10Point2" type="xs:string"/>
        <xs:element name="Team10Point3" type="xs:string"/>
        <xs:element name="Team10Point5" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Ex2">
      <xs:sequence>
        <xs:element name="Team1Point1" type="xs:string"/>
        <xs:element name="Team1Point2" type="xs:string"/>
        <xs:element name="Team1Point3" type="xs:string"/>
        <xs:element name="Team1Point5" type="xs:string"/>
        <xs:element name="Team2Point1" type="xs:string"/>
        <xs:element name="Team2Point2" type="xs:string"/>
        <xs:element name="Team2Point3" type="xs:string"/>
        <xs:element name="Team2Point5" type="xs:string"/>
        <xs:element name="Team3Point1" type="xs:string"/>
        <xs:element name="Team3Point2" type="xs:string"/>
        <xs:element name="Team3Point3" type="xs:string"/>
        <xs:element name="Team3Point5" type="xs:string"/>
        <xs:element name="Team4Point1" type="xs:string"/>
        <xs:element name="Team4Point2" type="xs:string"/>
        <xs:element name="Team4Point3" type="xs:string"/>
        <xs:element name="Team4Point5" type="xs:string"/>
        <xs:element name="Team5Point1" type="xs:string"/>
        <xs:element name="Team5Point2" type="xs:string"/>
        <xs:element name="Team5Point3" type="xs:string"/>
        <xs:element name="Team5Point5" type="xs:string"/>
        <xs:element name="Team6Point1" type="xs:string"/>
        <xs:element name="Team6Point2" type="xs:string"/>
        <xs:element name="Team6Point3" type="xs:string"/>
        <xs:element name="Team6Point5" type="xs:string"/>
        <xs:element name="Team7Point1" type="xs:string"/>
        <xs:element name="Team7Point2" type="xs:string"/>
        <xs:element name="Team7Point3" type="xs:string"/>
        <xs:element name="Team7Point5" type="xs:string"/>
        <xs:element name="Team8Point1" type="xs:string"/>
        <xs:element name="Team8Point2" type="xs:string"/>
        <xs:element name="Team8Point3" type="xs:string"/>
        <xs:element name="Team8Point5" type="xs:string"/>
        <xs:element name="Team9Point1" type="xs:string"/>
        <xs:element name="Team9Point2" type="xs:string"/>
        <xs:element name="Team9Point3" type="xs:string"/>
        <xs:element name="Team9Point5" type="xs:string"/>
        <xs:element name="Team10Point1" type="xs:string"/>
        <xs:element name="Team10Point2" type="xs:string"/>
        <xs:element name="Team10Point3" type="xs:string"/>
        <xs:element name="Team10Point5" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Ex3">
      <xs:sequence>
        <xs:element name="Team1Point1" type="xs:string"/>
        <xs:element name="Team1Point2" type="xs:string"/>
        <xs:element name="Team1Point3" type="xs:string"/>
        <xs:element name="Team1Point5" type="xs:string"/>
        <xs:element name="Team2Point1" type="xs:string"/>
        <xs:element name="Team2Point2" type="xs:string"/>
        <xs:element name="Team2Point3" type="xs:string"/>
        <xs:element name="Team2Point5" type="xs:string"/>
        <xs:element name="Team3Point1" type="xs:string"/>
        <xs:element name="Team3Point2" type="xs:string"/>
        <xs:element name="Team3Point3" type="xs:string"/>
        <xs:element name="Team3Point5" type="xs:string"/>
        <xs:element name="Team4Point1" type="xs:string"/>
        <xs:element name="Team4Point2" type="xs:string"/>
        <xs:element name="Team4Point3" type="xs:string"/>
        <xs:element name="Team4Point5" type="xs:string"/>
        <xs:element name="Team5Point1" type="xs:string"/>
        <xs:element name="Team5Point2" type="xs:string"/>
        <xs:element name="Team5Point3" type="xs:string"/>
        <xs:element name="Team5Point5" type="xs:string"/>
        <xs:element name="Team6Point1" type="xs:string"/>
        <xs:element name="Team6Point2" type="xs:string"/>
        <xs:element name="Team6Point3" type="xs:string"/>
        <xs:element name="Team6Point5" type="xs:string"/>
        <xs:element name="Team7Point1" type="xs:string"/>
        <xs:element name="Team7Point2" type="xs:string"/>
        <xs:element name="Team7Point3" type="xs:string"/>
        <xs:element name="Team7Point5" type="xs:string"/>
        <xs:element name="Team8Point1" type="xs:string"/>
        <xs:element name="Team8Point2" type="xs:string"/>
        <xs:element name="Team8Point3" type="xs:string"/>
        <xs:element name="Team8Point5" type="xs:string"/>
        <xs:element name="Team9Point1" type="xs:string"/>
        <xs:element name="Team9Point2" type="xs:string"/>
        <xs:element name="Team9Point3" type="xs:string"/>
        <xs:element name="Team9Point5" type="xs:string"/>
        <xs:element name="Team10Point1" type="xs:string"/>
        <xs:element name="Team10Point2" type="xs:string"/>
        <xs:element name="Team10Point3" type="xs:string"/>
        <xs:element name="Team10Point5" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Ai1">
      <xs:sequence>
        <xs:element name="Team1Variety" type="xs:string"/>
        <xs:element name="Team1Teamwork" type="xs:string"/>
        <xs:element name="Team1Music" type="xs:string"/>
        <xs:element name="Team1Flow" type="xs:string"/>
        <xs:element name="Team1Form" type="xs:string"/>
        <xs:element name="Team1General" type="xs:string"/>
        <xs:element name="Team2Variety" type="xs:string"/>
        <xs:element name="Team2Teamwork" type="xs:string"/>
        <xs:element name="Team2Music" type="xs:string"/>
        <xs:element name="Team2Flow" type="xs:string"/>
        <xs:element name="Team2Form" type="xs:string"/>
        <xs:element name="Team2General" type="xs:string"/>
        <xs:element name="Team3Variety" type="xs:string"/>
        <xs:element name="Team3Teamwork" type="xs:string"/>
        <xs:element name="Team3Music" type="xs:string"/>
        <xs:element name="Team3Flow" type="xs:string"/>
        <xs:element name="Team3Form" type="xs:string"/>
        <xs:element name="Team3General" type="xs:string"/>
        <xs:element name="Team4Variety" type="xs:string"/>
        <xs:element name="Team4Teamwork" type="xs:string"/>
        <xs:element name="Team4Music" type="xs:string"/>
        <xs:element name="Team4Flow" type="xs:string"/>
        <xs:element name="Team4Form" type="xs:string"/>
        <xs:element name="Team4General" type="xs:string"/>
        <xs:element name="Team5Variety" type="xs:string"/>
        <xs:element name="Team5Teamwork" type="xs:string"/>
        <xs:element name="Team5Music" type="xs:string"/>
        <xs:element name="Team5Flow" type="xs:string"/>
        <xs:element name="Team5Form" type="xs:string"/>
        <xs:element name="Team5General" type="xs:string"/>
        <xs:element name="Team6Variety" type="xs:string"/>
        <xs:element name="Team6Teamwork" type="xs:string"/>
        <xs:element name="Team6Music" type="xs:string"/>
        <xs:element name="Team6Flow" type="xs:string"/>
        <xs:element name="Team6Form" type="xs:string"/>
        <xs:element name="Team6General" type="xs:string"/>
        <xs:element name="Team7Variety" type="xs:string"/>
        <xs:element name="Team7Teamwork" type="xs:string"/>
        <xs:element name="Team7Music" type="xs:string"/>
        <xs:element name="Team7Flow" type="xs:string"/>
        <xs:element name="Team7Form" type="xs:string"/>
        <xs:element name="Team7General" type="xs:string"/>
        <xs:element name="Team8Variety" type="xs:string"/>
        <xs:element name="Team8Teamwork" type="xs:string"/>
        <xs:element name="Team8Music" type="xs:string"/>
        <xs:element name="Team8Flow" type="xs:string"/>
        <xs:element name="Team8Form" type="xs:string"/>
        <xs:element name="Team8General" type="xs:string"/>
        <xs:element name="Team9Variety" type="xs:string"/>
        <xs:element name="Team9Teamwork" type="xs:string"/>
        <xs:element name="Team9Music" type="xs:string"/>
        <xs:element name="Team9Flow" type="xs:string"/>
        <xs:element name="Team9Form" type="xs:string"/>
        <xs:element name="Team9General" type="xs:string"/>
        <xs:element name="Team10Variety" type="xs:string"/>
        <xs:element name="Team10Teamwork" type="xs:string"/>
        <xs:element name="Team10Music" type="xs:string"/>
        <xs:element name="Team10Flow" type="xs:string"/>
        <xs:element name="Team10Form" type="xs:string"/>
        <xs:element name="Team10General" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Ai2">
      <xs:sequence>
        <xs:element name="Team1Variety" type="xs:string"/>
        <xs:element name="Team1Teamwork" type="xs:string"/>
        <xs:element name="Team1Music" type="xs:string"/>
        <xs:element name="Team1Flow" type="xs:string"/>
        <xs:element name="Team1Form" type="xs:string"/>
        <xs:element name="Team1General" type="xs:string"/>
        <xs:element name="Team2Variety" type="xs:string"/>
        <xs:element name="Team2Teamwork" type="xs:string"/>
        <xs:element name="Team2Music" type="xs:string"/>
        <xs:element name="Team2Flow" type="xs:string"/>
        <xs:element name="Team2Form" type="xs:string"/>
        <xs:element name="Team2General" type="xs:string"/>
        <xs:element name="Team3Variety" type="xs:string"/>
        <xs:element name="Team3Teamwork" type="xs:string"/>
        <xs:element name="Team3Music" type="xs:string"/>
        <xs:element name="Team3Flow" type="xs:string"/>
        <xs:element name="Team3Form" type="xs:string"/>
        <xs:element name="Team3General" type="xs:string"/>
        <xs:element name="Team4Variety" type="xs:string"/>
        <xs:element name="Team4Teamwork" type="xs:string"/>
        <xs:element name="Team4Music" type="xs:string"/>
        <xs:element name="Team4Flow" type="xs:string"/>
        <xs:element name="Team4Form" type="xs:string"/>
        <xs:element name="Team4General" type="xs:string"/>
        <xs:element name="Team5Variety" type="xs:string"/>
        <xs:element name="Team5Teamwork" type="xs:string"/>
        <xs:element name="Team5Music" type="xs:string"/>
        <xs:element name="Team5Flow" type="xs:string"/>
        <xs:element name="Team5Form" type="xs:string"/>
        <xs:element name="Team5General" type="xs:string"/>
        <xs:element name="Team6Variety" type="xs:string"/>
        <xs:element name="Team6Teamwork" type="xs:string"/>
        <xs:element name="Team6Music" type="xs:string"/>
        <xs:element name="Team6Flow" type="xs:string"/>
        <xs:element name="Team6Form" type="xs:string"/>
        <xs:element name="Team6General" type="xs:string"/>
        <xs:element name="Team7Variety" type="xs:string"/>
        <xs:element name="Team7Teamwork" type="xs:string"/>
        <xs:element name="Team7Music" type="xs:string"/>
        <xs:element name="Team7Flow" type="xs:string"/>
        <xs:element name="Team7Form" type="xs:string"/>
        <xs:element name="Team7General" type="xs:string"/>
        <xs:element name="Team8Variety" type="xs:string"/>
        <xs:element name="Team8Teamwork" type="xs:string"/>
        <xs:element name="Team8Music" type="xs:string"/>
        <xs:element name="Team8Flow" type="xs:string"/>
        <xs:element name="Team8Form" type="xs:string"/>
        <xs:element name="Team8General" type="xs:string"/>
        <xs:element name="Team9Variety" type="xs:string"/>
        <xs:element name="Team9Teamwork" type="xs:string"/>
        <xs:element name="Team9Music" type="xs:string"/>
        <xs:element name="Team9Flow" type="xs:string"/>
        <xs:element name="Team9Form" type="xs:string"/>
        <xs:element name="Team9General" type="xs:string"/>
        <xs:element name="Team10Variety" type="xs:string"/>
        <xs:element name="Team10Teamwork" type="xs:string"/>
        <xs:element name="Team10Music" type="xs:string"/>
        <xs:element name="Team10Flow" type="xs:string"/>
        <xs:element name="Team10Form" type="xs:string"/>
        <xs:element name="Team10General" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Ai3">
      <xs:sequence>
        <xs:element name="Team1Variety" type="xs:string"/>
        <xs:element name="Team1Teamwork" type="xs:string"/>
        <xs:element name="Team1Music" type="xs:string"/>
        <xs:element name="Team1Flow" type="xs:string"/>
        <xs:element name="Team1Form" type="xs:string"/>
        <xs:element name="Team1General" type="xs:string"/>
        <xs:element name="Team2Variety" type="xs:string"/>
        <xs:element name="Team2Teamwork" type="xs:string"/>
        <xs:element name="Team2Music" type="xs:string"/>
        <xs:element name="Team2Flow" type="xs:string"/>
        <xs:element name="Team2Form" type="xs:string"/>
        <xs:element name="Team2General" type="xs:string"/>
        <xs:element name="Team3Variety" type="xs:string"/>
        <xs:element name="Team3Teamwork" type="xs:string"/>
        <xs:element name="Team3Music" type="xs:string"/>
        <xs:element name="Team3Flow" type="xs:string"/>
        <xs:element name="Team3Form" type="xs:string"/>
        <xs:element name="Team3General" type="xs:string"/>
        <xs:element name="Team4Variety" type="xs:string"/>
        <xs:element name="Team4Teamwork" type="xs:string"/>
        <xs:element name="Team4Music" type="xs:string"/>
        <xs:element name="Team4Flow" type="xs:string"/>
        <xs:element name="Team4Form" type="xs:string"/>
        <xs:element name="Team4General" type="xs:string"/>
        <xs:element name="Team5Variety" type="xs:string"/>
        <xs:element name="Team5Teamwork" type="xs:string"/>
        <xs:element name="Team5Music" type="xs:string"/>
        <xs:element name="Team5Flow" type="xs:string"/>
        <xs:element name="Team5Form" type="xs:string"/>
        <xs:element name="Team5General" type="xs:string"/>
        <xs:element name="Team6Variety" type="xs:string"/>
        <xs:element name="Team6Teamwork" type="xs:string"/>
        <xs:element name="Team6Music" type="xs:string"/>
        <xs:element name="Team6Flow" type="xs:string"/>
        <xs:element name="Team6Form" type="xs:string"/>
        <xs:element name="Team6General" type="xs:string"/>
        <xs:element name="Team7Variety" type="xs:string"/>
        <xs:element name="Team7Teamwork" type="xs:string"/>
        <xs:element name="Team7Music" type="xs:string"/>
        <xs:element name="Team7Flow" type="xs:string"/>
        <xs:element name="Team7Form" type="xs:string"/>
        <xs:element name="Team7General" type="xs:string"/>
        <xs:element name="Team8Variety" type="xs:string"/>
        <xs:element name="Team8Teamwork" type="xs:string"/>
        <xs:element name="Team8Music" type="xs:string"/>
        <xs:element name="Team8Flow" type="xs:string"/>
        <xs:element name="Team8Form" type="xs:string"/>
        <xs:element name="Team8General" type="xs:string"/>
        <xs:element name="Team9Variety" type="xs:string"/>
        <xs:element name="Team9Teamwork" type="xs:string"/>
        <xs:element name="Team9Music" type="xs:string"/>
        <xs:element name="Team9Flow" type="xs:string"/>
        <xs:element name="Team9Form" type="xs:string"/>
        <xs:element name="Team9General" type="xs:string"/>
        <xs:element name="Team10Variety" type="xs:string"/>
        <xs:element name="Team10Teamwork" type="xs:string"/>
        <xs:element name="Team10Music" type="xs:string"/>
        <xs:element name="Team10Flow" type="xs:string"/>
        <xs:element name="Team10Form" type="xs:string"/>
        <xs:element name="Team10General" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Diff1">
      <xs:sequence>
        <xs:element name="Team1Diff1" type="xs:string"/>
        <xs:element name="Team1Diff2" type="xs:string"/>
        <xs:element name="Team1Diff3" type="xs:string"/>
        <xs:element name="Team1Diff4" type="xs:string"/>
        <xs:element name="Team1Diff5" type="xs:string"/>
        <xs:element name="Team1Diff6" type="xs:string"/>
        <xs:element name="Team1Diff7" type="xs:string"/>
        <xs:element name="Team1Diff8" type="xs:string"/>
        <xs:element name="Team1Diff9" type="xs:string"/>
        <xs:element name="Team1Diff10" type="xs:string"/>
        <xs:element name="Team1Diff11" type="xs:string"/>
        <xs:element name="Team1Diff12" type="xs:string"/>
        <xs:element name="Team1Diff13" type="xs:string"/>
        <xs:element name="Team1Diff14" type="xs:string"/>
        <xs:element name="Team1Diff15" type="xs:string"/>
        <xs:element name="Team1Diff16" type="xs:string"/>
        <xs:element name="Team1Diff17" type="xs:string"/>
        <xs:element name="Team1Diff18" type="xs:string"/>
        <xs:element name="Team1Diff19" type="xs:string"/>
        <xs:element name="Team1Diff20" type="xs:string"/>
        <xs:element name="Team1Consec1" type="xs:string"/>
        <xs:element name="Team1Consec2" type="xs:string"/>
        <xs:element name="Team1Consec3" type="xs:string"/>
        <xs:element name="Team1Consec4" type="xs:string"/>
        <xs:element name="Team1Consec5" type="xs:string"/>
        <xs:element name="Team1Consec6" type="xs:string"/>
        <xs:element name="Team1Consec7" type="xs:string"/>
        <xs:element name="Team1Consec8" type="xs:string"/>
        <xs:element name="Team1Consec9" type="xs:string"/>
        <xs:element name="Team1Consec10" type="xs:string"/>
        <xs:element name="Team1Consec11" type="xs:string"/>
        <xs:element name="Team1Consec12" type="xs:string"/>
        <xs:element name="Team1Consec13" type="xs:string"/>
        <xs:element name="Team1Consec14" type="xs:string"/>
        <xs:element name="Team1Consec15" type="xs:string"/>
        <xs:element name="Team1Consec16" type="xs:string"/>
        <xs:element name="Team1Consec17" type="xs:string"/>
        <xs:element name="Team1Consec18" type="xs:string"/>
        <xs:element name="Team1Consec19" type="xs:string"/>
        <xs:element name="Team1Consec20" type="xs:string"/>
        <xs:element name="Team2Diff1" type="xs:string"/>
        <xs:element name="Team2Diff2" type="xs:string"/>
        <xs:element name="Team2Diff3" type="xs:string"/>
        <xs:element name="Team2Diff4" type="xs:string"/>
        <xs:element name="Team2Diff5" type="xs:string"/>
        <xs:element name="Team2Diff6" type="xs:string"/>
        <xs:element name="Team2Diff7" type="xs:string"/>
        <xs:element name="Team2Diff8" type="xs:string"/>
        <xs:element name="Team2Diff9" type="xs:string"/>
        <xs:element name="Team2Diff10" type="xs:string"/>
        <xs:element name="Team2Diff11" type="xs:string"/>
        <xs:element name="Team2Diff12" type="xs:string"/>
        <xs:element name="Team2Diff13" type="xs:string"/>
        <xs:element name="Team2Diff14" type="xs:string"/>
        <xs:element name="Team2Diff15" type="xs:string"/>
        <xs:element name="Team2Diff16" type="xs:string"/>
        <xs:element name="Team2Diff17" type="xs:string"/>
        <xs:element name="Team2Diff18" type="xs:string"/>
        <xs:element name="Team2Diff19" type="xs:string"/>
        <xs:element name="Team2Diff20" type="xs:string"/>
        <xs:element name="Team2Consec1" type="xs:string"/>
        <xs:element name="Team2Consec2" type="xs:string"/>
        <xs:element name="Team2Consec3" type="xs:string"/>
        <xs:element name="Team2Consec4" type="xs:string"/>
        <xs:element name="Team2Consec5" type="xs:string"/>
        <xs:element name="Team2Consec6" type="xs:string"/>
        <xs:element name="Team2Consec7" type="xs:string"/>
        <xs:element name="Team2Consec8" type="xs:string"/>
        <xs:element name="Team2Consec9" type="xs:string"/>
        <xs:element name="Team2Consec10" type="xs:string"/>
        <xs:element name="Team2Consec11" type="xs:string"/>
        <xs:element name="Team2Consec12" type="xs:string"/>
        <xs:element name="Team2Consec13" type="xs:string"/>
        <xs:element name="Team2Consec14" type="xs:string"/>
        <xs:element name="Team2Consec15" type="xs:string"/>
        <xs:element name="Team2Consec16" type="xs:string"/>
        <xs:element name="Team2Consec17" type="xs:string"/>
        <xs:element name="Team2Consec18" type="xs:string"/>
        <xs:element name="Team2Consec19" type="xs:string"/>
        <xs:element name="Team2Consec20" type="xs:string"/>
        <xs:element name="Team3Diff1" type="xs:string"/>
        <xs:element name="Team3Diff2" type="xs:string"/>
        <xs:element name="Team3Diff3" type="xs:string"/>
        <xs:element name="Team3Diff4" type="xs:string"/>
        <xs:element name="Team3Diff5" type="xs:string"/>
        <xs:element name="Team3Diff6" type="xs:string"/>
        <xs:element name="Team3Diff7" type="xs:string"/>
        <xs:element name="Team3Diff8" type="xs:string"/>
        <xs:element name="Team3Diff9" type="xs:string"/>
        <xs:element name="Team3Diff10" type="xs:string"/>
        <xs:element name="Team3Diff11" type="xs:string"/>
        <xs:element name="Team3Diff12" type="xs:string"/>
        <xs:element name="Team3Diff13" type="xs:string"/>
        <xs:element name="Team3Diff14" type="xs:string"/>
        <xs:element name="Team3Diff15" type="xs:string"/>
        <xs:element name="Team3Diff16" type="xs:string"/>
        <xs:element name="Team3Diff17" type="xs:string"/>
        <xs:element name="Team3Diff18" type="xs:string"/>
        <xs:element name="Team3Diff19" type="xs:string"/>
        <xs:element name="Team3Diff20" type="xs:string"/>
        <xs:element name="Team3Consec1" type="xs:string"/>
        <xs:element name="Team3Consec2" type="xs:string"/>
        <xs:element name="Team3Consec3" type="xs:string"/>
        <xs:element name="Team3Consec4" type="xs:string"/>
        <xs:element name="Team3Consec5" type="xs:string"/>
        <xs:element name="Team3Consec6" type="xs:string"/>
        <xs:element name="Team3Consec7" type="xs:string"/>
        <xs:element name="Team3Consec8" type="xs:string"/>
        <xs:element name="Team3Consec9" type="xs:string"/>
        <xs:element name="Team3Consec10" type="xs:string"/>
        <xs:element name="Team3Consec11" type="xs:string"/>
        <xs:element name="Team3Consec12" type="xs:string"/>
        <xs:element name="Team3Consec13" type="xs:string"/>
        <xs:element name="Team3Consec14" type="xs:string"/>
        <xs:element name="Team3Consec15" type="xs:string"/>
        <xs:element name="Team3Consec16" type="xs:string"/>
        <xs:element name="Team3Consec17" type="xs:string"/>
        <xs:element name="Team3Consec18" type="xs:string"/>
        <xs:element name="Team3Consec19" type="xs:string"/>
        <xs:element name="Team3Consec20" type="xs:string"/>
        <xs:element name="Team4Diff1" type="xs:string"/>
        <xs:element name="Team4Diff2" type="xs:string"/>
        <xs:element name="Team4Diff3" type="xs:string"/>
        <xs:element name="Team4Diff4" type="xs:string"/>
        <xs:element name="Team4Diff5" type="xs:string"/>
        <xs:element name="Team4Diff6" type="xs:string"/>
        <xs:element name="Team4Diff7" type="xs:string"/>
        <xs:element name="Team4Diff8" type="xs:string"/>
        <xs:element name="Team4Diff9" type="xs:string"/>
        <xs:element name="Team4Diff10" type="xs:string"/>
        <xs:element name="Team4Diff11" type="xs:string"/>
        <xs:element name="Team4Diff12" type="xs:string"/>
        <xs:element name="Team4Diff13" type="xs:string"/>
        <xs:element name="Team4Diff14" type="xs:string"/>
        <xs:element name="Team4Diff15" type="xs:string"/>
        <xs:element name="Team4Diff16" type="xs:string"/>
        <xs:element name="Team4Diff17" type="xs:string"/>
        <xs:element name="Team4Diff18" type="xs:string"/>
        <xs:element name="Team4Diff19" type="xs:string"/>
        <xs:element name="Team4Diff20" type="xs:string"/>
        <xs:element name="Team4Consec1" type="xs:string"/>
        <xs:element name="Team4Consec2" type="xs:string"/>
        <xs:element name="Team4Consec3" type="xs:string"/>
        <xs:element name="Team4Consec4" type="xs:string"/>
        <xs:element name="Team4Consec5" type="xs:string"/>
        <xs:element name="Team4Consec6" type="xs:string"/>
        <xs:element name="Team4Consec7" type="xs:string"/>
        <xs:element name="Team4Consec8" type="xs:string"/>
        <xs:element name="Team4Consec9" type="xs:string"/>
        <xs:element name="Team4Consec10" type="xs:string"/>
        <xs:element name="Team4Consec11" type="xs:string"/>
        <xs:element name="Team4Consec12" type="xs:string"/>
        <xs:element name="Team4Consec13" type="xs:string"/>
        <xs:element name="Team4Consec14" type="xs:string"/>
        <xs:element name="Team4Consec15" type="xs:string"/>
        <xs:element name="Team4Consec16" type="xs:string"/>
        <xs:element name="Team4Consec17" type="xs:string"/>
        <xs:element name="Team4Consec18" type="xs:string"/>
        <xs:element name="Team4Consec19" type="xs:string"/>
        <xs:element name="Team4Consec20" type="xs:string"/>
        <xs:element name="Team5Diff1" type="xs:string"/>
        <xs:element name="Team5Diff2" type="xs:string"/>
        <xs:element name="Team5Diff3" type="xs:string"/>
        <xs:element name="Team5Diff4" type="xs:string"/>
        <xs:element name="Team5Diff5" type="xs:string"/>
        <xs:element name="Team5Diff6" type="xs:string"/>
        <xs:element name="Team5Diff7" type="xs:string"/>
        <xs:element name="Team5Diff8" type="xs:string"/>
        <xs:element name="Team5Diff9" type="xs:string"/>
        <xs:element name="Team5Diff10" type="xs:string"/>
        <xs:element name="Team5Diff11" type="xs:string"/>
        <xs:element name="Team5Diff12" type="xs:string"/>
        <xs:element name="Team5Diff13" type="xs:string"/>
        <xs:element name="Team5Diff14" type="xs:string"/>
        <xs:element name="Team5Diff15" type="xs:string"/>
        <xs:element name="Team5Diff16" type="xs:string"/>
        <xs:element name="Team5Diff17" type="xs:string"/>
        <xs:element name="Team5Diff18" type="xs:string"/>
        <xs:element name="Team5Diff19" type="xs:string"/>
        <xs:element name="Team5Diff20" type="xs:string"/>
        <xs:element name="Team5Consec1" type="xs:string"/>
        <xs:element name="Team5Consec2" type="xs:string"/>
        <xs:element name="Team5Consec3" type="xs:string"/>
        <xs:element name="Team5Consec4" type="xs:string"/>
        <xs:element name="Team5Consec5" type="xs:string"/>
        <xs:element name="Team5Consec6" type="xs:string"/>
        <xs:element name="Team5Consec7" type="xs:string"/>
        <xs:element name="Team5Consec8" type="xs:string"/>
        <xs:element name="Team5Consec9" type="xs:string"/>
        <xs:element name="Team5Consec10" type="xs:string"/>
        <xs:element name="Team5Consec11" type="xs:string"/>
        <xs:element name="Team5Consec12" type="xs:string"/>
        <xs:element name="Team5Consec13" type="xs:string"/>
        <xs:element name="Team5Consec14" type="xs:string"/>
        <xs:element name="Team5Consec15" type="xs:string"/>
        <xs:element name="Team5Consec16" type="xs:string"/>
        <xs:element name="Team5Consec17" type="xs:string"/>
        <xs:element name="Team5Consec18" type="xs:string"/>
        <xs:element name="Team5Consec19" type="xs:string"/>
        <xs:element name="Team5Consec20" type="xs:string"/>
        <xs:element name="Team6Diff1" type="xs:string"/>
        <xs:element name="Team6Diff2" type="xs:string"/>
        <xs:element name="Team6Diff3" type="xs:string"/>
        <xs:element name="Team6Diff4" type="xs:string"/>
        <xs:element name="Team6Diff5" type="xs:string"/>
        <xs:element name="Team6Diff6" type="xs:string"/>
        <xs:element name="Team6Diff7" type="xs:string"/>
        <xs:element name="Team6Diff8" type="xs:string"/>
        <xs:element name="Team6Diff9" type="xs:string"/>
        <xs:element name="Team6Diff10" type="xs:string"/>
        <xs:element name="Team6Diff11" type="xs:string"/>
        <xs:element name="Team6Diff12" type="xs:string"/>
        <xs:element name="Team6Diff13" type="xs:string"/>
        <xs:element name="Team6Diff14" type="xs:string"/>
        <xs:element name="Team6Diff15" type="xs:string"/>
        <xs:element name="Team6Diff16" type="xs:string"/>
        <xs:element name="Team6Diff17" type="xs:string"/>
        <xs:element name="Team6Diff18" type="xs:string"/>
        <xs:element name="Team6Diff19" type="xs:string"/>
        <xs:element name="Team6Diff20" type="xs:string"/>
        <xs:element name="Team6Consec1" type="xs:string"/>
        <xs:element name="Team6Consec2" type="xs:string"/>
        <xs:element name="Team6Consec3" type="xs:string"/>
        <xs:element name="Team6Consec4" type="xs:string"/>
        <xs:element name="Team6Consec5" type="xs:string"/>
        <xs:element name="Team6Consec6" type="xs:string"/>
        <xs:element name="Team6Consec7" type="xs:string"/>
        <xs:element name="Team6Consec8" type="xs:string"/>
        <xs:element name="Team6Consec9" type="xs:string"/>
        <xs:element name="Team6Consec10" type="xs:string"/>
        <xs:element name="Team6Consec11" type="xs:string"/>
        <xs:element name="Team6Consec12" type="xs:string"/>
        <xs:element name="Team6Consec13" type="xs:string"/>
        <xs:element name="Team6Consec14" type="xs:string"/>
        <xs:element name="Team6Consec15" type="xs:string"/>
        <xs:element name="Team6Consec16" type="xs:string"/>
        <xs:element name="Team6Consec17" type="xs:string"/>
        <xs:element name="Team6Consec18" type="xs:string"/>
        <xs:element name="Team6Consec19" type="xs:string"/>
        <xs:element name="Team6Consec20" type="xs:string"/>
        <xs:element name="Team7Diff1" type="xs:string"/>
        <xs:element name="Team7Diff2" type="xs:string"/>
        <xs:element name="Team7Diff3" type="xs:string"/>
        <xs:element name="Team7Diff4" type="xs:string"/>
        <xs:element name="Team7Diff5" type="xs:string"/>
        <xs:element name="Team7Diff6" type="xs:string"/>
        <xs:element name="Team7Diff7" type="xs:string"/>
        <xs:element name="Team7Diff8" type="xs:string"/>
        <xs:element name="Team7Diff9" type="xs:string"/>
        <xs:element name="Team7Diff10" type="xs:string"/>
        <xs:element name="Team7Diff11" type="xs:string"/>
        <xs:element name="Team7Diff12" type="xs:string"/>
        <xs:element name="Team7Diff13" type="xs:string"/>
        <xs:element name="Team7Diff14" type="xs:string"/>
        <xs:element name="Team7Diff15" type="xs:string"/>
        <xs:element name="Team7Diff16" type="xs:string"/>
        <xs:element name="Team7Diff17" type="xs:string"/>
        <xs:element name="Team7Diff18" type="xs:string"/>
        <xs:element name="Team7Diff19" type="xs:string"/>
        <xs:element name="Team7Diff20" type="xs:string"/>
        <xs:element name="Team7Consec1" type="xs:string"/>
        <xs:element name="Team7Consec2" type="xs:string"/>
        <xs:element name="Team7Consec3" type="xs:string"/>
        <xs:element name="Team7Consec4" type="xs:string"/>
        <xs:element name="Team7Consec5" type="xs:string"/>
        <xs:element name="Team7Consec6" type="xs:string"/>
        <xs:element name="Team7Consec7" type="xs:string"/>
        <xs:element name="Team7Consec8" type="xs:string"/>
        <xs:element name="Team7Consec9" type="xs:string"/>
        <xs:element name="Team7Consec10" type="xs:string"/>
        <xs:element name="Team7Consec11" type="xs:string"/>
        <xs:element name="Team7Consec12" type="xs:string"/>
        <xs:element name="Team7Consec13" type="xs:string"/>
        <xs:element name="Team7Consec14" type="xs:string"/>
        <xs:element name="Team7Consec15" type="xs:string"/>
        <xs:element name="Team7Consec16" type="xs:string"/>
        <xs:element name="Team7Consec17" type="xs:string"/>
        <xs:element name="Team7Consec18" type="xs:string"/>
        <xs:element name="Team7Consec19" type="xs:string"/>
        <xs:element name="Team7Consec20" type="xs:string"/>
        <xs:element name="Team8Diff1" type="xs:string"/>
        <xs:element name="Team8Diff2" type="xs:string"/>
        <xs:element name="Team8Diff3" type="xs:string"/>
        <xs:element name="Team8Diff4" type="xs:string"/>
        <xs:element name="Team8Diff5" type="xs:string"/>
        <xs:element name="Team8Diff6" type="xs:string"/>
        <xs:element name="Team8Diff7" type="xs:string"/>
        <xs:element name="Team8Diff8" type="xs:string"/>
        <xs:element name="Team8Diff9" type="xs:string"/>
        <xs:element name="Team8Diff10" type="xs:string"/>
        <xs:element name="Team8Diff11" type="xs:string"/>
        <xs:element name="Team8Diff12" type="xs:string"/>
        <xs:element name="Team8Diff13" type="xs:string"/>
        <xs:element name="Team8Diff14" type="xs:string"/>
        <xs:element name="Team8Diff15" type="xs:string"/>
        <xs:element name="Team8Diff16" type="xs:string"/>
        <xs:element name="Team8Diff17" type="xs:string"/>
        <xs:element name="Team8Diff18" type="xs:string"/>
        <xs:element name="Team8Diff19" type="xs:string"/>
        <xs:element name="Team8Diff20" type="xs:string"/>
        <xs:element name="Team8Consec1" type="xs:string"/>
        <xs:element name="Team8Consec2" type="xs:string"/>
        <xs:element name="Team8Consec3" type="xs:string"/>
        <xs:element name="Team8Consec4" type="xs:string"/>
        <xs:element name="Team8Consec5" type="xs:string"/>
        <xs:element name="Team8Consec6" type="xs:string"/>
        <xs:element name="Team8Consec7" type="xs:string"/>
        <xs:element name="Team8Consec8" type="xs:string"/>
        <xs:element name="Team8Consec9" type="xs:string"/>
        <xs:element name="Team8Consec10" type="xs:string"/>
        <xs:element name="Team8Consec11" type="xs:string"/>
        <xs:element name="Team8Consec12" type="xs:string"/>
        <xs:element name="Team8Consec13" type="xs:string"/>
        <xs:element name="Team8Consec14" type="xs:string"/>
        <xs:element name="Team8Consec15" type="xs:string"/>
        <xs:element name="Team8Consec16" type="xs:string"/>
        <xs:element name="Team8Consec17" type="xs:string"/>
        <xs:element name="Team8Consec18" type="xs:string"/>
        <xs:element name="Team8Consec19" type="xs:string"/>
        <xs:element name="Team8Consec20" type="xs:string"/>
        <xs:element name="Team9Diff1" type="xs:string"/>
        <xs:element name="Team9Diff2" type="xs:string"/>
        <xs:element name="Team9Diff3" type="xs:string"/>
        <xs:element name="Team9Diff4" type="xs:string"/>
        <xs:element name="Team9Diff5" type="xs:string"/>
        <xs:element name="Team9Diff6" type="xs:string"/>
        <xs:element name="Team9Diff7" type="xs:string"/>
        <xs:element name="Team9Diff8" type="xs:string"/>
        <xs:element name="Team9Diff9" type="xs:string"/>
        <xs:element name="Team9Diff10" type="xs:string"/>
        <xs:element name="Team9Diff11" type="xs:string"/>
        <xs:element name="Team9Diff12" type="xs:string"/>
        <xs:element name="Team9Diff13" type="xs:string"/>
        <xs:element name="Team9Diff14" type="xs:string"/>
        <xs:element name="Team9Diff15" type="xs:string"/>
        <xs:element name="Team9Diff16" type="xs:string"/>
        <xs:element name="Team9Diff17" type="xs:string"/>
        <xs:element name="Team9Diff18" type="xs:string"/>
        <xs:element name="Team9Diff19" type="xs:string"/>
        <xs:element name="Team9Diff20" type="xs:string"/>
        <xs:element name="Team9Consec1" type="xs:string"/>
        <xs:element name="Team9Consec2" type="xs:string"/>
        <xs:element name="Team9Consec3" type="xs:string"/>
        <xs:element name="Team9Consec4" type="xs:string"/>
        <xs:element name="Team9Consec5" type="xs:string"/>
        <xs:element name="Team9Consec6" type="xs:string"/>
        <xs:element name="Team9Consec7" type="xs:string"/>
        <xs:element name="Team9Consec8" type="xs:string"/>
        <xs:element name="Team9Consec9" type="xs:string"/>
        <xs:element name="Team9Consec10" type="xs:string"/>
        <xs:element name="Team9Consec11" type="xs:string"/>
        <xs:element name="Team9Consec12" type="xs:string"/>
        <xs:element name="Team9Consec13" type="xs:string"/>
        <xs:element name="Team9Consec14" type="xs:string"/>
        <xs:element name="Team9Consec15" type="xs:string"/>
        <xs:element name="Team9Consec16" type="xs:string"/>
        <xs:element name="Team9Consec17" type="xs:string"/>
        <xs:element name="Team9Consec18" type="xs:string"/>
        <xs:element name="Team9Consec19" type="xs:string"/>
        <xs:element name="Team9Consec20" type="xs:string"/>
        <xs:element name="Team10Diff1" type="xs:string"/>
        <xs:element name="Team10Diff2" type="xs:string"/>
        <xs:element name="Team10Diff3" type="xs:string"/>
        <xs:element name="Team10Diff4" type="xs:string"/>
        <xs:element name="Team10Diff5" type="xs:string"/>
        <xs:element name="Team10Diff6" type="xs:string"/>
        <xs:element name="Team10Diff7" type="xs:string"/>
        <xs:element name="Team10Diff8" type="xs:string"/>
        <xs:element name="Team10Diff9" type="xs:string"/>
        <xs:element name="Team10Diff10" type="xs:string"/>
        <xs:element name="Team10Diff11" type="xs:string"/>
        <xs:element name="Team10Diff12" type="xs:string"/>
        <xs:element name="Team10Diff13" type="xs:string"/>
        <xs:element name="Team10Diff14" type="xs:string"/>
        <xs:element name="Team10Diff15" type="xs:string"/>
        <xs:element name="Team10Diff16" type="xs:string"/>
        <xs:element name="Team10Diff17" type="xs:string"/>
        <xs:element name="Team10Diff18" type="xs:string"/>
        <xs:element name="Team10Diff19" type="xs:string"/>
        <xs:element name="Team10Diff20" type="xs:string"/>
        <xs:element name="Team10Consec1" type="xs:string"/>
        <xs:element name="Team10Consec2" type="xs:string"/>
        <xs:element name="Team10Consec3" type="xs:string"/>
        <xs:element name="Team10Consec4" type="xs:string"/>
        <xs:element name="Team10Consec5" type="xs:string"/>
        <xs:element name="Team10Consec6" type="xs:string"/>
        <xs:element name="Team10Consec7" type="xs:string"/>
        <xs:element name="Team10Consec8" type="xs:string"/>
        <xs:element name="Team10Consec9" type="xs:string"/>
        <xs:element name="Team10Consec10" type="xs:string"/>
        <xs:element name="Team10Consec11" type="xs:string"/>
        <xs:element name="Team10Consec12" type="xs:string"/>
        <xs:element name="Team10Consec13" type="xs:string"/>
        <xs:element name="Team10Consec14" type="xs:string"/>
        <xs:element name="Team10Consec15" type="xs:string"/>
        <xs:element name="Team10Consec16" type="xs:string"/>
        <xs:element name="Team10Consec17" type="xs:string"/>
        <xs:element name="Team10Consec18" type="xs:string"/>
        <xs:element name="Team10Consec19" type="xs:string"/>
        <xs:element name="Team10Consec20" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Diff2">
      <xs:sequence>
        <xs:element name="Team1Diff1" type="xs:string"/>
        <xs:element name="Team1Diff2" type="xs:string"/>
        <xs:element name="Team1Diff3" type="xs:string"/>
        <xs:element name="Team1Diff4" type="xs:string"/>
        <xs:element name="Team1Diff5" type="xs:string"/>
        <xs:element name="Team1Diff6" type="xs:string"/>
        <xs:element name="Team1Diff7" type="xs:string"/>
        <xs:element name="Team1Diff8" type="xs:string"/>
        <xs:element name="Team1Diff9" type="xs:string"/>
        <xs:element name="Team1Diff10" type="xs:string"/>
        <xs:element name="Team1Diff11" type="xs:string"/>
        <xs:element name="Team1Diff12" type="xs:string"/>
        <xs:element name="Team1Diff13" type="xs:string"/>
        <xs:element name="Team1Diff14" type="xs:string"/>
        <xs:element name="Team1Diff15" type="xs:string"/>
        <xs:element name="Team1Diff16" type="xs:string"/>
        <xs:element name="Team1Diff17" type="xs:string"/>
        <xs:element name="Team1Diff18" type="xs:string"/>
        <xs:element name="Team1Diff19" type="xs:string"/>
        <xs:element name="Team1Diff20" type="xs:string"/>
        <xs:element name="Team1Consec1" type="xs:string"/>
        <xs:element name="Team1Consec2" type="xs:string"/>
        <xs:element name="Team1Consec3" type="xs:string"/>
        <xs:element name="Team1Consec4" type="xs:string"/>
        <xs:element name="Team1Consec5" type="xs:string"/>
        <xs:element name="Team1Consec6" type="xs:string"/>
        <xs:element name="Team1Consec7" type="xs:string"/>
        <xs:element name="Team1Consec8" type="xs:string"/>
        <xs:element name="Team1Consec9" type="xs:string"/>
        <xs:element name="Team1Consec10" type="xs:string"/>
        <xs:element name="Team1Consec11" type="xs:string"/>
        <xs:element name="Team1Consec12" type="xs:string"/>
        <xs:element name="Team1Consec13" type="xs:string"/>
        <xs:element name="Team1Consec14" type="xs:string"/>
        <xs:element name="Team1Consec15" type="xs:string"/>
        <xs:element name="Team1Consec16" type="xs:string"/>
        <xs:element name="Team1Consec17" type="xs:string"/>
        <xs:element name="Team1Consec18" type="xs:string"/>
        <xs:element name="Team1Consec19" type="xs:string"/>
        <xs:element name="Team1Consec20" type="xs:string"/>
        <xs:element name="Team2Diff1" type="xs:string"/>
        <xs:element name="Team2Diff2" type="xs:string"/>
        <xs:element name="Team2Diff3" type="xs:string"/>
        <xs:element name="Team2Diff4" type="xs:string"/>
        <xs:element name="Team2Diff5" type="xs:string"/>
        <xs:element name="Team2Diff6" type="xs:string"/>
        <xs:element name="Team2Diff7" type="xs:string"/>
        <xs:element name="Team2Diff8" type="xs:string"/>
        <xs:element name="Team2Diff9" type="xs:string"/>
        <xs:element name="Team2Diff10" type="xs:string"/>
        <xs:element name="Team2Diff11" type="xs:string"/>
        <xs:element name="Team2Diff12" type="xs:string"/>
        <xs:element name="Team2Diff13" type="xs:string"/>
        <xs:element name="Team2Diff14" type="xs:string"/>
        <xs:element name="Team2Diff15" type="xs:string"/>
        <xs:element name="Team2Diff16" type="xs:string"/>
        <xs:element name="Team2Diff17" type="xs:string"/>
        <xs:element name="Team2Diff18" type="xs:string"/>
        <xs:element name="Team2Diff19" type="xs:string"/>
        <xs:element name="Team2Diff20" type="xs:string"/>
        <xs:element name="Team2Consec1" type="xs:string"/>
        <xs:element name="Team2Consec2" type="xs:string"/>
        <xs:element name="Team2Consec3" type="xs:string"/>
        <xs:element name="Team2Consec4" type="xs:string"/>
        <xs:element name="Team2Consec5" type="xs:string"/>
        <xs:element name="Team2Consec6" type="xs:string"/>
        <xs:element name="Team2Consec7" type="xs:string"/>
        <xs:element name="Team2Consec8" type="xs:string"/>
        <xs:element name="Team2Consec9" type="xs:string"/>
        <xs:element name="Team2Consec10" type="xs:string"/>
        <xs:element name="Team2Consec11" type="xs:string"/>
        <xs:element name="Team2Consec12" type="xs:string"/>
        <xs:element name="Team2Consec13" type="xs:string"/>
        <xs:element name="Team2Consec14" type="xs:string"/>
        <xs:element name="Team2Consec15" type="xs:string"/>
        <xs:element name="Team2Consec16" type="xs:string"/>
        <xs:element name="Team2Consec17" type="xs:string"/>
        <xs:element name="Team2Consec18" type="xs:string"/>
        <xs:element name="Team2Consec19" type="xs:string"/>
        <xs:element name="Team2Consec20" type="xs:string"/>
        <xs:element name="Team3Diff1" type="xs:string"/>
        <xs:element name="Team3Diff2" type="xs:string"/>
        <xs:element name="Team3Diff3" type="xs:string"/>
        <xs:element name="Team3Diff4" type="xs:string"/>
        <xs:element name="Team3Diff5" type="xs:string"/>
        <xs:element name="Team3Diff6" type="xs:string"/>
        <xs:element name="Team3Diff7" type="xs:string"/>
        <xs:element name="Team3Diff8" type="xs:string"/>
        <xs:element name="Team3Diff9" type="xs:string"/>
        <xs:element name="Team3Diff10" type="xs:string"/>
        <xs:element name="Team3Diff11" type="xs:string"/>
        <xs:element name="Team3Diff12" type="xs:string"/>
        <xs:element name="Team3Diff13" type="xs:string"/>
        <xs:element name="Team3Diff14" type="xs:string"/>
        <xs:element name="Team3Diff15" type="xs:string"/>
        <xs:element name="Team3Diff16" type="xs:string"/>
        <xs:element name="Team3Diff17" type="xs:string"/>
        <xs:element name="Team3Diff18" type="xs:string"/>
        <xs:element name="Team3Diff19" type="xs:string"/>
        <xs:element name="Team3Diff20" type="xs:string"/>
        <xs:element name="Team3Consec1" type="xs:string"/>
        <xs:element name="Team3Consec2" type="xs:string"/>
        <xs:element name="Team3Consec3" type="xs:string"/>
        <xs:element name="Team3Consec4" type="xs:string"/>
        <xs:element name="Team3Consec5" type="xs:string"/>
        <xs:element name="Team3Consec6" type="xs:string"/>
        <xs:element name="Team3Consec7" type="xs:string"/>
        <xs:element name="Team3Consec8" type="xs:string"/>
        <xs:element name="Team3Consec9" type="xs:string"/>
        <xs:element name="Team3Consec10" type="xs:string"/>
        <xs:element name="Team3Consec11" type="xs:string"/>
        <xs:element name="Team3Consec12" type="xs:string"/>
        <xs:element name="Team3Consec13" type="xs:string"/>
        <xs:element name="Team3Consec14" type="xs:string"/>
        <xs:element name="Team3Consec15" type="xs:string"/>
        <xs:element name="Team3Consec16" type="xs:string"/>
        <xs:element name="Team3Consec17" type="xs:string"/>
        <xs:element name="Team3Consec18" type="xs:string"/>
        <xs:element name="Team3Consec19" type="xs:string"/>
        <xs:element name="Team3Consec20" type="xs:string"/>
        <xs:element name="Team4Diff1" type="xs:string"/>
        <xs:element name="Team4Diff2" type="xs:string"/>
        <xs:element name="Team4Diff3" type="xs:string"/>
        <xs:element name="Team4Diff4" type="xs:string"/>
        <xs:element name="Team4Diff5" type="xs:string"/>
        <xs:element name="Team4Diff6" type="xs:string"/>
        <xs:element name="Team4Diff7" type="xs:string"/>
        <xs:element name="Team4Diff8" type="xs:string"/>
        <xs:element name="Team4Diff9" type="xs:string"/>
        <xs:element name="Team4Diff10" type="xs:string"/>
        <xs:element name="Team4Diff11" type="xs:string"/>
        <xs:element name="Team4Diff12" type="xs:string"/>
        <xs:element name="Team4Diff13" type="xs:string"/>
        <xs:element name="Team4Diff14" type="xs:string"/>
        <xs:element name="Team4Diff15" type="xs:string"/>
        <xs:element name="Team4Diff16" type="xs:string"/>
        <xs:element name="Team4Diff17" type="xs:string"/>
        <xs:element name="Team4Diff18" type="xs:string"/>
        <xs:element name="Team4Diff19" type="xs:string"/>
        <xs:element name="Team4Diff20" type="xs:string"/>
        <xs:element name="Team4Consec1" type="xs:string"/>
        <xs:element name="Team4Consec2" type="xs:string"/>
        <xs:element name="Team4Consec3" type="xs:string"/>
        <xs:element name="Team4Consec4" type="xs:string"/>
        <xs:element name="Team4Consec5" type="xs:string"/>
        <xs:element name="Team4Consec6" type="xs:string"/>
        <xs:element name="Team4Consec7" type="xs:string"/>
        <xs:element name="Team4Consec8" type="xs:string"/>
        <xs:element name="Team4Consec9" type="xs:string"/>
        <xs:element name="Team4Consec10" type="xs:string"/>
        <xs:element name="Team4Consec11" type="xs:string"/>
        <xs:element name="Team4Consec12" type="xs:string"/>
        <xs:element name="Team4Consec13" type="xs:string"/>
        <xs:element name="Team4Consec14" type="xs:string"/>
        <xs:element name="Team4Consec15" type="xs:string"/>
        <xs:element name="Team4Consec16" type="xs:string"/>
        <xs:element name="Team4Consec17" type="xs:string"/>
        <xs:element name="Team4Consec18" type="xs:string"/>
        <xs:element name="Team4Consec19" type="xs:string"/>
        <xs:element name="Team4Consec20" type="xs:string"/>
        <xs:element name="Team5Diff1" type="xs:string"/>
        <xs:element name="Team5Diff2" type="xs:string"/>
        <xs:element name="Team5Diff3" type="xs:string"/>
        <xs:element name="Team5Diff4" type="xs:string"/>
        <xs:element name="Team5Diff5" type="xs:string"/>
        <xs:element name="Team5Diff6" type="xs:string"/>
        <xs:element name="Team5Diff7" type="xs:string"/>
        <xs:element name="Team5Diff8" type="xs:string"/>
        <xs:element name="Team5Diff9" type="xs:string"/>
        <xs:element name="Team5Diff10" type="xs:string"/>
        <xs:element name="Team5Diff11" type="xs:string"/>
        <xs:element name="Team5Diff12" type="xs:string"/>
        <xs:element name="Team5Diff13" type="xs:string"/>
        <xs:element name="Team5Diff14" type="xs:string"/>
        <xs:element name="Team5Diff15" type="xs:string"/>
        <xs:element name="Team5Diff16" type="xs:string"/>
        <xs:element name="Team5Diff17" type="xs:string"/>
        <xs:element name="Team5Diff18" type="xs:string"/>
        <xs:element name="Team5Diff19" type="xs:string"/>
        <xs:element name="Team5Diff20" type="xs:string"/>
        <xs:element name="Team5Consec1" type="xs:string"/>
        <xs:element name="Team5Consec2" type="xs:string"/>
        <xs:element name="Team5Consec3" type="xs:string"/>
        <xs:element name="Team5Consec4" type="xs:string"/>
        <xs:element name="Team5Consec5" type="xs:string"/>
        <xs:element name="Team5Consec6" type="xs:string"/>
        <xs:element name="Team5Consec7" type="xs:string"/>
        <xs:element name="Team5Consec8" type="xs:string"/>
        <xs:element name="Team5Consec9" type="xs:string"/>
        <xs:element name="Team5Consec10" type="xs:string"/>
        <xs:element name="Team5Consec11" type="xs:string"/>
        <xs:element name="Team5Consec12" type="xs:string"/>
        <xs:element name="Team5Consec13" type="xs:string"/>
        <xs:element name="Team5Consec14" type="xs:string"/>
        <xs:element name="Team5Consec15" type="xs:string"/>
        <xs:element name="Team5Consec16" type="xs:string"/>
        <xs:element name="Team5Consec17" type="xs:string"/>
        <xs:element name="Team5Consec18" type="xs:string"/>
        <xs:element name="Team5Consec19" type="xs:string"/>
        <xs:element name="Team5Consec20" type="xs:string"/>
        <xs:element name="Team6Diff1" type="xs:string"/>
        <xs:element name="Team6Diff2" type="xs:string"/>
        <xs:element name="Team6Diff3" type="xs:string"/>
        <xs:element name="Team6Diff4" type="xs:string"/>
        <xs:element name="Team6Diff5" type="xs:string"/>
        <xs:element name="Team6Diff6" type="xs:string"/>
        <xs:element name="Team6Diff7" type="xs:string"/>
        <xs:element name="Team6Diff8" type="xs:string"/>
        <xs:element name="Team6Diff9" type="xs:string"/>
        <xs:element name="Team6Diff10" type="xs:string"/>
        <xs:element name="Team6Diff11" type="xs:string"/>
        <xs:element name="Team6Diff12" type="xs:string"/>
        <xs:element name="Team6Diff13" type="xs:string"/>
        <xs:element name="Team6Diff14" type="xs:string"/>
        <xs:element name="Team6Diff15" type="xs:string"/>
        <xs:element name="Team6Diff16" type="xs:string"/>
        <xs:element name="Team6Diff17" type="xs:string"/>
        <xs:element name="Team6Diff18" type="xs:string"/>
        <xs:element name="Team6Diff19" type="xs:string"/>
        <xs:element name="Team6Diff20" type="xs:string"/>
        <xs:element name="Team6Consec1" type="xs:string"/>
        <xs:element name="Team6Consec2" type="xs:string"/>
        <xs:element name="Team6Consec3" type="xs:string"/>
        <xs:element name="Team6Consec4" type="xs:string"/>
        <xs:element name="Team6Consec5" type="xs:string"/>
        <xs:element name="Team6Consec6" type="xs:string"/>
        <xs:element name="Team6Consec7" type="xs:string"/>
        <xs:element name="Team6Consec8" type="xs:string"/>
        <xs:element name="Team6Consec9" type="xs:string"/>
        <xs:element name="Team6Consec10" type="xs:string"/>
        <xs:element name="Team6Consec11" type="xs:string"/>
        <xs:element name="Team6Consec12" type="xs:string"/>
        <xs:element name="Team6Consec13" type="xs:string"/>
        <xs:element name="Team6Consec14" type="xs:string"/>
        <xs:element name="Team6Consec15" type="xs:string"/>
        <xs:element name="Team6Consec16" type="xs:string"/>
        <xs:element name="Team6Consec17" type="xs:string"/>
        <xs:element name="Team6Consec18" type="xs:string"/>
        <xs:element name="Team6Consec19" type="xs:string"/>
        <xs:element name="Team6Consec20" type="xs:string"/>
        <xs:element name="Team7Diff1" type="xs:string"/>
        <xs:element name="Team7Diff2" type="xs:string"/>
        <xs:element name="Team7Diff3" type="xs:string"/>
        <xs:element name="Team7Diff4" type="xs:string"/>
        <xs:element name="Team7Diff5" type="xs:string"/>
        <xs:element name="Team7Diff6" type="xs:string"/>
        <xs:element name="Team7Diff7" type="xs:string"/>
        <xs:element name="Team7Diff8" type="xs:string"/>
        <xs:element name="Team7Diff9" type="xs:string"/>
        <xs:element name="Team7Diff10" type="xs:string"/>
        <xs:element name="Team7Diff11" type="xs:string"/>
        <xs:element name="Team7Diff12" type="xs:string"/>
        <xs:element name="Team7Diff13" type="xs:string"/>
        <xs:element name="Team7Diff14" type="xs:string"/>
        <xs:element name="Team7Diff15" type="xs:string"/>
        <xs:element name="Team7Diff16" type="xs:string"/>
        <xs:element name="Team7Diff17" type="xs:string"/>
        <xs:element name="Team7Diff18" type="xs:string"/>
        <xs:element name="Team7Diff19" type="xs:string"/>
        <xs:element name="Team7Diff20" type="xs:string"/>
        <xs:element name="Team7Consec1" type="xs:string"/>
        <xs:element name="Team7Consec2" type="xs:string"/>
        <xs:element name="Team7Consec3" type="xs:string"/>
        <xs:element name="Team7Consec4" type="xs:string"/>
        <xs:element name="Team7Consec5" type="xs:string"/>
        <xs:element name="Team7Consec6" type="xs:string"/>
        <xs:element name="Team7Consec7" type="xs:string"/>
        <xs:element name="Team7Consec8" type="xs:string"/>
        <xs:element name="Team7Consec9" type="xs:string"/>
        <xs:element name="Team7Consec10" type="xs:string"/>
        <xs:element name="Team7Consec11" type="xs:string"/>
        <xs:element name="Team7Consec12" type="xs:string"/>
        <xs:element name="Team7Consec13" type="xs:string"/>
        <xs:element name="Team7Consec14" type="xs:string"/>
        <xs:element name="Team7Consec15" type="xs:string"/>
        <xs:element name="Team7Consec16" type="xs:string"/>
        <xs:element name="Team7Consec17" type="xs:string"/>
        <xs:element name="Team7Consec18" type="xs:string"/>
        <xs:element name="Team7Consec19" type="xs:string"/>
        <xs:element name="Team7Consec20" type="xs:string"/>
        <xs:element name="Team8Diff1" type="xs:string"/>
        <xs:element name="Team8Diff2" type="xs:string"/>
        <xs:element name="Team8Diff3" type="xs:string"/>
        <xs:element name="Team8Diff4" type="xs:string"/>
        <xs:element name="Team8Diff5" type="xs:string"/>
        <xs:element name="Team8Diff6" type="xs:string"/>
        <xs:element name="Team8Diff7" type="xs:string"/>
        <xs:element name="Team8Diff8" type="xs:string"/>
        <xs:element name="Team8Diff9" type="xs:string"/>
        <xs:element name="Team8Diff10" type="xs:string"/>
        <xs:element name="Team8Diff11" type="xs:string"/>
        <xs:element name="Team8Diff12" type="xs:string"/>
        <xs:element name="Team8Diff13" type="xs:string"/>
        <xs:element name="Team8Diff14" type="xs:string"/>
        <xs:element name="Team8Diff15" type="xs:string"/>
        <xs:element name="Team8Diff16" type="xs:string"/>
        <xs:element name="Team8Diff17" type="xs:string"/>
        <xs:element name="Team8Diff18" type="xs:string"/>
        <xs:element name="Team8Diff19" type="xs:string"/>
        <xs:element name="Team8Diff20" type="xs:string"/>
        <xs:element name="Team8Consec1" type="xs:string"/>
        <xs:element name="Team8Consec2" type="xs:string"/>
        <xs:element name="Team8Consec3" type="xs:string"/>
        <xs:element name="Team8Consec4" type="xs:string"/>
        <xs:element name="Team8Consec5" type="xs:string"/>
        <xs:element name="Team8Consec6" type="xs:string"/>
        <xs:element name="Team8Consec7" type="xs:string"/>
        <xs:element name="Team8Consec8" type="xs:string"/>
        <xs:element name="Team8Consec9" type="xs:string"/>
        <xs:element name="Team8Consec10" type="xs:string"/>
        <xs:element name="Team8Consec11" type="xs:string"/>
        <xs:element name="Team8Consec12" type="xs:string"/>
        <xs:element name="Team8Consec13" type="xs:string"/>
        <xs:element name="Team8Consec14" type="xs:string"/>
        <xs:element name="Team8Consec15" type="xs:string"/>
        <xs:element name="Team8Consec16" type="xs:string"/>
        <xs:element name="Team8Consec17" type="xs:string"/>
        <xs:element name="Team8Consec18" type="xs:string"/>
        <xs:element name="Team8Consec19" type="xs:string"/>
        <xs:element name="Team8Consec20" type="xs:string"/>
        <xs:element name="Team9Diff1" type="xs:string"/>
        <xs:element name="Team9Diff2" type="xs:string"/>
        <xs:element name="Team9Diff3" type="xs:string"/>
        <xs:element name="Team9Diff4" type="xs:string"/>
        <xs:element name="Team9Diff5" type="xs:string"/>
        <xs:element name="Team9Diff6" type="xs:string"/>
        <xs:element name="Team9Diff7" type="xs:string"/>
        <xs:element name="Team9Diff8" type="xs:string"/>
        <xs:element name="Team9Diff9" type="xs:string"/>
        <xs:element name="Team9Diff10" type="xs:string"/>
        <xs:element name="Team9Diff11" type="xs:string"/>
        <xs:element name="Team9Diff12" type="xs:string"/>
        <xs:element name="Team9Diff13" type="xs:string"/>
        <xs:element name="Team9Diff14" type="xs:string"/>
        <xs:element name="Team9Diff15" type="xs:string"/>
        <xs:element name="Team9Diff16" type="xs:string"/>
        <xs:element name="Team9Diff17" type="xs:string"/>
        <xs:element name="Team9Diff18" type="xs:string"/>
        <xs:element name="Team9Diff19" type="xs:string"/>
        <xs:element name="Team9Diff20" type="xs:string"/>
        <xs:element name="Team9Consec1" type="xs:string"/>
        <xs:element name="Team9Consec2" type="xs:string"/>
        <xs:element name="Team9Consec3" type="xs:string"/>
        <xs:element name="Team9Consec4" type="xs:string"/>
        <xs:element name="Team9Consec5" type="xs:string"/>
        <xs:element name="Team9Consec6" type="xs:string"/>
        <xs:element name="Team9Consec7" type="xs:string"/>
        <xs:element name="Team9Consec8" type="xs:string"/>
        <xs:element name="Team9Consec9" type="xs:string"/>
        <xs:element name="Team9Consec10" type="xs:string"/>
        <xs:element name="Team9Consec11" type="xs:string"/>
        <xs:element name="Team9Consec12" type="xs:string"/>
        <xs:element name="Team9Consec13" type="xs:string"/>
        <xs:element name="Team9Consec14" type="xs:string"/>
        <xs:element name="Team9Consec15" type="xs:string"/>
        <xs:element name="Team9Consec16" type="xs:string"/>
        <xs:element name="Team9Consec17" type="xs:string"/>
        <xs:element name="Team9Consec18" type="xs:string"/>
        <xs:element name="Team9Consec19" type="xs:string"/>
        <xs:element name="Team9Consec20" type="xs:string"/>
        <xs:element name="Team10Diff1" type="xs:string"/>
        <xs:element name="Team10Diff2" type="xs:string"/>
        <xs:element name="Team10Diff3" type="xs:string"/>
        <xs:element name="Team10Diff4" type="xs:string"/>
        <xs:element name="Team10Diff5" type="xs:string"/>
        <xs:element name="Team10Diff6" type="xs:string"/>
        <xs:element name="Team10Diff7" type="xs:string"/>
        <xs:element name="Team10Diff8" type="xs:string"/>
        <xs:element name="Team10Diff9" type="xs:string"/>
        <xs:element name="Team10Diff10" type="xs:string"/>
        <xs:element name="Team10Diff11" type="xs:string"/>
        <xs:element name="Team10Diff12" type="xs:string"/>
        <xs:element name="Team10Diff13" type="xs:string"/>
        <xs:element name="Team10Diff14" type="xs:string"/>
        <xs:element name="Team10Diff15" type="xs:string"/>
        <xs:element name="Team10Diff16" type="xs:string"/>
        <xs:element name="Team10Diff17" type="xs:string"/>
        <xs:element name="Team10Diff18" type="xs:string"/>
        <xs:element name="Team10Diff19" type="xs:string"/>
        <xs:element name="Team10Diff20" type="xs:string"/>
        <xs:element name="Team10Consec1" type="xs:string"/>
        <xs:element name="Team10Consec2" type="xs:string"/>
        <xs:element name="Team10Consec3" type="xs:string"/>
        <xs:element name="Team10Consec4" type="xs:string"/>
        <xs:element name="Team10Consec5" type="xs:string"/>
        <xs:element name="Team10Consec6" type="xs:string"/>
        <xs:element name="Team10Consec7" type="xs:string"/>
        <xs:element name="Team10Consec8" type="xs:string"/>
        <xs:element name="Team10Consec9" type="xs:string"/>
        <xs:element name="Team10Consec10" type="xs:string"/>
        <xs:element name="Team10Consec11" type="xs:string"/>
        <xs:element name="Team10Consec12" type="xs:string"/>
        <xs:element name="Team10Consec13" type="xs:string"/>
        <xs:element name="Team10Consec14" type="xs:string"/>
        <xs:element name="Team10Consec15" type="xs:string"/>
        <xs:element name="Team10Consec16" type="xs:string"/>
        <xs:element name="Team10Consec17" type="xs:string"/>
        <xs:element name="Team10Consec18" type="xs:string"/>
        <xs:element name="Team10Consec19" type="xs:string"/>
        <xs:element name="Team10Consec20" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Diff3">
      <xs:sequence>
        <xs:element name="Team1Diff1" type="xs:string"/>
        <xs:element name="Team1Diff2" type="xs:string"/>
        <xs:element name="Team1Diff3" type="xs:string"/>
        <xs:element name="Team1Diff4" type="xs:string"/>
        <xs:element name="Team1Diff5" type="xs:string"/>
        <xs:element name="Team1Diff6" type="xs:string"/>
        <xs:element name="Team1Diff7" type="xs:string"/>
        <xs:element name="Team1Diff8" type="xs:string"/>
        <xs:element name="Team1Diff9" type="xs:string"/>
        <xs:element name="Team1Diff10" type="xs:string"/>
        <xs:element name="Team1Diff11" type="xs:string"/>
        <xs:element name="Team1Diff12" type="xs:string"/>
        <xs:element name="Team1Diff13" type="xs:string"/>
        <xs:element name="Team1Diff14" type="xs:string"/>
        <xs:element name="Team1Diff15" type="xs:string"/>
        <xs:element name="Team1Diff16" type="xs:string"/>
        <xs:element name="Team1Diff17" type="xs:string"/>
        <xs:element name="Team1Diff18" type="xs:string"/>
        <xs:element name="Team1Diff19" type="xs:string"/>
        <xs:element name="Team1Diff20" type="xs:string"/>
        <xs:element name="Team1Consec1" type="xs:string"/>
        <xs:element name="Team1Consec2" type="xs:string"/>
        <xs:element name="Team1Consec3" type="xs:string"/>
        <xs:element name="Team1Consec4" type="xs:string"/>
        <xs:element name="Team1Consec5" type="xs:string"/>
        <xs:element name="Team1Consec6" type="xs:string"/>
        <xs:element name="Team1Consec7" type="xs:string"/>
        <xs:element name="Team1Consec8" type="xs:string"/>
        <xs:element name="Team1Consec9" type="xs:string"/>
        <xs:element name="Team1Consec10" type="xs:string"/>
        <xs:element name="Team1Consec11" type="xs:string"/>
        <xs:element name="Team1Consec12" type="xs:string"/>
        <xs:element name="Team1Consec13" type="xs:string"/>
        <xs:element name="Team1Consec14" type="xs:string"/>
        <xs:element name="Team1Consec15" type="xs:string"/>
        <xs:element name="Team1Consec16" type="xs:string"/>
        <xs:element name="Team1Consec17" type="xs:string"/>
        <xs:element name="Team1Consec18" type="xs:string"/>
        <xs:element name="Team1Consec19" type="xs:string"/>
        <xs:element name="Team1Consec20" type="xs:string"/>
        <xs:element name="Team2Diff1" type="xs:string"/>
        <xs:element name="Team2Diff2" type="xs:string"/>
        <xs:element name="Team2Diff3" type="xs:string"/>
        <xs:element name="Team2Diff4" type="xs:string"/>
        <xs:element name="Team2Diff5" type="xs:string"/>
        <xs:element name="Team2Diff6" type="xs:string"/>
        <xs:element name="Team2Diff7" type="xs:string"/>
        <xs:element name="Team2Diff8" type="xs:string"/>
        <xs:element name="Team2Diff9" type="xs:string"/>
        <xs:element name="Team2Diff10" type="xs:string"/>
        <xs:element name="Team2Diff11" type="xs:string"/>
        <xs:element name="Team2Diff12" type="xs:string"/>
        <xs:element name="Team2Diff13" type="xs:string"/>
        <xs:element name="Team2Diff14" type="xs:string"/>
        <xs:element name="Team2Diff15" type="xs:string"/>
        <xs:element name="Team2Diff16" type="xs:string"/>
        <xs:element name="Team2Diff17" type="xs:string"/>
        <xs:element name="Team2Diff18" type="xs:string"/>
        <xs:element name="Team2Diff19" type="xs:string"/>
        <xs:element name="Team2Diff20" type="xs:string"/>
        <xs:element name="Team2Consec1" type="xs:string"/>
        <xs:element name="Team2Consec2" type="xs:string"/>
        <xs:element name="Team2Consec3" type="xs:string"/>
        <xs:element name="Team2Consec4" type="xs:string"/>
        <xs:element name="Team2Consec5" type="xs:string"/>
        <xs:element name="Team2Consec6" type="xs:string"/>
        <xs:element name="Team2Consec7" type="xs:string"/>
        <xs:element name="Team2Consec8" type="xs:string"/>
        <xs:element name="Team2Consec9" type="xs:string"/>
        <xs:element name="Team2Consec10" type="xs:string"/>
        <xs:element name="Team2Consec11" type="xs:string"/>
        <xs:element name="Team2Consec12" type="xs:string"/>
        <xs:element name="Team2Consec13" type="xs:string"/>
        <xs:element name="Team2Consec14" type="xs:string"/>
        <xs:element name="Team2Consec15" type="xs:string"/>
        <xs:element name="Team2Consec16" type="xs:string"/>
        <xs:element name="Team2Consec17" type="xs:string"/>
        <xs:element name="Team2Consec18" type="xs:string"/>
        <xs:element name="Team2Consec19" type="xs:string"/>
        <xs:element name="Team2Consec20" type="xs:string"/>
        <xs:element name="Team3Diff1" type="xs:string"/>
        <xs:element name="Team3Diff2" type="xs:string"/>
        <xs:element name="Team3Diff3" type="xs:string"/>
        <xs:element name="Team3Diff4" type="xs:string"/>
        <xs:element name="Team3Diff5" type="xs:string"/>
        <xs:element name="Team3Diff6" type="xs:string"/>
        <xs:element name="Team3Diff7" type="xs:string"/>
        <xs:element name="Team3Diff8" type="xs:string"/>
        <xs:element name="Team3Diff9" type="xs:string"/>
        <xs:element name="Team3Diff10" type="xs:string"/>
        <xs:element name="Team3Diff11" type="xs:string"/>
        <xs:element name="Team3Diff12" type="xs:string"/>
        <xs:element name="Team3Diff13" type="xs:string"/>
        <xs:element name="Team3Diff14" type="xs:string"/>
        <xs:element name="Team3Diff15" type="xs:string"/>
        <xs:element name="Team3Diff16" type="xs:string"/>
        <xs:element name="Team3Diff17" type="xs:string"/>
        <xs:element name="Team3Diff18" type="xs:string"/>
        <xs:element name="Team3Diff19" type="xs:string"/>
        <xs:element name="Team3Diff20" type="xs:string"/>
        <xs:element name="Team3Consec1" type="xs:string"/>
        <xs:element name="Team3Consec2" type="xs:string"/>
        <xs:element name="Team3Consec3" type="xs:string"/>
        <xs:element name="Team3Consec4" type="xs:string"/>
        <xs:element name="Team3Consec5" type="xs:string"/>
        <xs:element name="Team3Consec6" type="xs:string"/>
        <xs:element name="Team3Consec7" type="xs:string"/>
        <xs:element name="Team3Consec8" type="xs:string"/>
        <xs:element name="Team3Consec9" type="xs:string"/>
        <xs:element name="Team3Consec10" type="xs:string"/>
        <xs:element name="Team3Consec11" type="xs:string"/>
        <xs:element name="Team3Consec12" type="xs:string"/>
        <xs:element name="Team3Consec13" type="xs:string"/>
        <xs:element name="Team3Consec14" type="xs:string"/>
        <xs:element name="Team3Consec15" type="xs:string"/>
        <xs:element name="Team3Consec16" type="xs:string"/>
        <xs:element name="Team3Consec17" type="xs:string"/>
        <xs:element name="Team3Consec18" type="xs:string"/>
        <xs:element name="Team3Consec19" type="xs:string"/>
        <xs:element name="Team3Consec20" type="xs:string"/>
        <xs:element name="Team4Diff1" type="xs:string"/>
        <xs:element name="Team4Diff2" type="xs:string"/>
        <xs:element name="Team4Diff3" type="xs:string"/>
        <xs:element name="Team4Diff4" type="xs:string"/>
        <xs:element name="Team4Diff5" type="xs:string"/>
        <xs:element name="Team4Diff6" type="xs:string"/>
        <xs:element name="Team4Diff7" type="xs:string"/>
        <xs:element name="Team4Diff8" type="xs:string"/>
        <xs:element name="Team4Diff9" type="xs:string"/>
        <xs:element name="Team4Diff10" type="xs:string"/>
        <xs:element name="Team4Diff11" type="xs:string"/>
        <xs:element name="Team4Diff12" type="xs:string"/>
        <xs:element name="Team4Diff13" type="xs:string"/>
        <xs:element name="Team4Diff14" type="xs:string"/>
        <xs:element name="Team4Diff15" type="xs:string"/>
        <xs:element name="Team4Diff16" type="xs:string"/>
        <xs:element name="Team4Diff17" type="xs:string"/>
        <xs:element name="Team4Diff18" type="xs:string"/>
        <xs:element name="Team4Diff19" type="xs:string"/>
        <xs:element name="Team4Diff20" type="xs:string"/>
        <xs:element name="Team4Consec1" type="xs:string"/>
        <xs:element name="Team4Consec2" type="xs:string"/>
        <xs:element name="Team4Consec3" type="xs:string"/>
        <xs:element name="Team4Consec4" type="xs:string"/>
        <xs:element name="Team4Consec5" type="xs:string"/>
        <xs:element name="Team4Consec6" type="xs:string"/>
        <xs:element name="Team4Consec7" type="xs:string"/>
        <xs:element name="Team4Consec8" type="xs:string"/>
        <xs:element name="Team4Consec9" type="xs:string"/>
        <xs:element name="Team4Consec10" type="xs:string"/>
        <xs:element name="Team4Consec11" type="xs:string"/>
        <xs:element name="Team4Consec12" type="xs:string"/>
        <xs:element name="Team4Consec13" type="xs:string"/>
        <xs:element name="Team4Consec14" type="xs:string"/>
        <xs:element name="Team4Consec15" type="xs:string"/>
        <xs:element name="Team4Consec16" type="xs:string"/>
        <xs:element name="Team4Consec17" type="xs:string"/>
        <xs:element name="Team4Consec18" type="xs:string"/>
        <xs:element name="Team4Consec19" type="xs:string"/>
        <xs:element name="Team4Consec20" type="xs:string"/>
        <xs:element name="Team5Diff1" type="xs:string"/>
        <xs:element name="Team5Diff2" type="xs:string"/>
        <xs:element name="Team5Diff3" type="xs:string"/>
        <xs:element name="Team5Diff4" type="xs:string"/>
        <xs:element name="Team5Diff5" type="xs:string"/>
        <xs:element name="Team5Diff6" type="xs:string"/>
        <xs:element name="Team5Diff7" type="xs:string"/>
        <xs:element name="Team5Diff8" type="xs:string"/>
        <xs:element name="Team5Diff9" type="xs:string"/>
        <xs:element name="Team5Diff10" type="xs:string"/>
        <xs:element name="Team5Diff11" type="xs:string"/>
        <xs:element name="Team5Diff12" type="xs:string"/>
        <xs:element name="Team5Diff13" type="xs:string"/>
        <xs:element name="Team5Diff14" type="xs:string"/>
        <xs:element name="Team5Diff15" type="xs:string"/>
        <xs:element name="Team5Diff16" type="xs:string"/>
        <xs:element name="Team5Diff17" type="xs:string"/>
        <xs:element name="Team5Diff18" type="xs:string"/>
        <xs:element name="Team5Diff19" type="xs:string"/>
        <xs:element name="Team5Diff20" type="xs:string"/>
        <xs:element name="Team5Consec1" type="xs:string"/>
        <xs:element name="Team5Consec2" type="xs:string"/>
        <xs:element name="Team5Consec3" type="xs:string"/>
        <xs:element name="Team5Consec4" type="xs:string"/>
        <xs:element name="Team5Consec5" type="xs:string"/>
        <xs:element name="Team5Consec6" type="xs:string"/>
        <xs:element name="Team5Consec7" type="xs:string"/>
        <xs:element name="Team5Consec8" type="xs:string"/>
        <xs:element name="Team5Consec9" type="xs:string"/>
        <xs:element name="Team5Consec10" type="xs:string"/>
        <xs:element name="Team5Consec11" type="xs:string"/>
        <xs:element name="Team5Consec12" type="xs:string"/>
        <xs:element name="Team5Consec13" type="xs:string"/>
        <xs:element name="Team5Consec14" type="xs:string"/>
        <xs:element name="Team5Consec15" type="xs:string"/>
        <xs:element name="Team5Consec16" type="xs:string"/>
        <xs:element name="Team5Consec17" type="xs:string"/>
        <xs:element name="Team5Consec18" type="xs:string"/>
        <xs:element name="Team5Consec19" type="xs:string"/>
        <xs:element name="Team5Consec20" type="xs:string"/>
        <xs:element name="Team6Diff1" type="xs:string"/>
        <xs:element name="Team6Diff2" type="xs:string"/>
        <xs:element name="Team6Diff3" type="xs:string"/>
        <xs:element name="Team6Diff4" type="xs:string"/>
        <xs:element name="Team6Diff5" type="xs:string"/>
        <xs:element name="Team6Diff6" type="xs:string"/>
        <xs:element name="Team6Diff7" type="xs:string"/>
        <xs:element name="Team6Diff8" type="xs:string"/>
        <xs:element name="Team6Diff9" type="xs:string"/>
        <xs:element name="Team6Diff10" type="xs:string"/>
        <xs:element name="Team6Diff11" type="xs:string"/>
        <xs:element name="Team6Diff12" type="xs:string"/>
        <xs:element name="Team6Diff13" type="xs:string"/>
        <xs:element name="Team6Diff14" type="xs:string"/>
        <xs:element name="Team6Diff15" type="xs:string"/>
        <xs:element name="Team6Diff16" type="xs:string"/>
        <xs:element name="Team6Diff17" type="xs:string"/>
        <xs:element name="Team6Diff18" type="xs:string"/>
        <xs:element name="Team6Diff19" type="xs:string"/>
        <xs:element name="Team6Diff20" type="xs:string"/>
        <xs:element name="Team6Consec1" type="xs:string"/>
        <xs:element name="Team6Consec2" type="xs:string"/>
        <xs:element name="Team6Consec3" type="xs:string"/>
        <xs:element name="Team6Consec4" type="xs:string"/>
        <xs:element name="Team6Consec5" type="xs:string"/>
        <xs:element name="Team6Consec6" type="xs:string"/>
        <xs:element name="Team6Consec7" type="xs:string"/>
        <xs:element name="Team6Consec8" type="xs:string"/>
        <xs:element name="Team6Consec9" type="xs:string"/>
        <xs:element name="Team6Consec10" type="xs:string"/>
        <xs:element name="Team6Consec11" type="xs:string"/>
        <xs:element name="Team6Consec12" type="xs:string"/>
        <xs:element name="Team6Consec13" type="xs:string"/>
        <xs:element name="Team6Consec14" type="xs:string"/>
        <xs:element name="Team6Consec15" type="xs:string"/>
        <xs:element name="Team6Consec16" type="xs:string"/>
        <xs:element name="Team6Consec17" type="xs:string"/>
        <xs:element name="Team6Consec18" type="xs:string"/>
        <xs:element name="Team6Consec19" type="xs:string"/>
        <xs:element name="Team6Consec20" type="xs:string"/>
        <xs:element name="Team7Diff1" type="xs:string"/>
        <xs:element name="Team7Diff2" type="xs:string"/>
        <xs:element name="Team7Diff3" type="xs:string"/>
        <xs:element name="Team7Diff4" type="xs:string"/>
        <xs:element name="Team7Diff5" type="xs:string"/>
        <xs:element name="Team7Diff6" type="xs:string"/>
        <xs:element name="Team7Diff7" type="xs:string"/>
        <xs:element name="Team7Diff8" type="xs:string"/>
        <xs:element name="Team7Diff9" type="xs:string"/>
        <xs:element name="Team7Diff10" type="xs:string"/>
        <xs:element name="Team7Diff11" type="xs:string"/>
        <xs:element name="Team7Diff12" type="xs:string"/>
        <xs:element name="Team7Diff13" type="xs:string"/>
        <xs:element name="Team7Diff14" type="xs:string"/>
        <xs:element name="Team7Diff15" type="xs:string"/>
        <xs:element name="Team7Diff16" type="xs:string"/>
        <xs:element name="Team7Diff17" type="xs:string"/>
        <xs:element name="Team7Diff18" type="xs:string"/>
        <xs:element name="Team7Diff19" type="xs:string"/>
        <xs:element name="Team7Diff20" type="xs:string"/>
        <xs:element name="Team7Consec1" type="xs:string"/>
        <xs:element name="Team7Consec2" type="xs:string"/>
        <xs:element name="Team7Consec3" type="xs:string"/>
        <xs:element name="Team7Consec4" type="xs:string"/>
        <xs:element name="Team7Consec5" type="xs:string"/>
        <xs:element name="Team7Consec6" type="xs:string"/>
        <xs:element name="Team7Consec7" type="xs:string"/>
        <xs:element name="Team7Consec8" type="xs:string"/>
        <xs:element name="Team7Consec9" type="xs:string"/>
        <xs:element name="Team7Consec10" type="xs:string"/>
        <xs:element name="Team7Consec11" type="xs:string"/>
        <xs:element name="Team7Consec12" type="xs:string"/>
        <xs:element name="Team7Consec13" type="xs:string"/>
        <xs:element name="Team7Consec14" type="xs:string"/>
        <xs:element name="Team7Consec15" type="xs:string"/>
        <xs:element name="Team7Consec16" type="xs:string"/>
        <xs:element name="Team7Consec17" type="xs:string"/>
        <xs:element name="Team7Consec18" type="xs:string"/>
        <xs:element name="Team7Consec19" type="xs:string"/>
        <xs:element name="Team7Consec20" type="xs:string"/>
        <xs:element name="Team8Diff1" type="xs:string"/>
        <xs:element name="Team8Diff2" type="xs:string"/>
        <xs:element name="Team8Diff3" type="xs:string"/>
        <xs:element name="Team8Diff4" type="xs:string"/>
        <xs:element name="Team8Diff5" type="xs:string"/>
        <xs:element name="Team8Diff6" type="xs:string"/>
        <xs:element name="Team8Diff7" type="xs:string"/>
        <xs:element name="Team8Diff8" type="xs:string"/>
        <xs:element name="Team8Diff9" type="xs:string"/>
        <xs:element name="Team8Diff10" type="xs:string"/>
        <xs:element name="Team8Diff11" type="xs:string"/>
        <xs:element name="Team8Diff12" type="xs:string"/>
        <xs:element name="Team8Diff13" type="xs:string"/>
        <xs:element name="Team8Diff14" type="xs:string"/>
        <xs:element name="Team8Diff15" type="xs:string"/>
        <xs:element name="Team8Diff16" type="xs:string"/>
        <xs:element name="Team8Diff17" type="xs:string"/>
        <xs:element name="Team8Diff18" type="xs:string"/>
        <xs:element name="Team8Diff19" type="xs:string"/>
        <xs:element name="Team8Diff20" type="xs:string"/>
        <xs:element name="Team8Consec1" type="xs:string"/>
        <xs:element name="Team8Consec2" type="xs:string"/>
        <xs:element name="Team8Consec3" type="xs:string"/>
        <xs:element name="Team8Consec4" type="xs:string"/>
        <xs:element name="Team8Consec5" type="xs:string"/>
        <xs:element name="Team8Consec6" type="xs:string"/>
        <xs:element name="Team8Consec7" type="xs:string"/>
        <xs:element name="Team8Consec8" type="xs:string"/>
        <xs:element name="Team8Consec9" type="xs:string"/>
        <xs:element name="Team8Consec10" type="xs:string"/>
        <xs:element name="Team8Consec11" type="xs:string"/>
        <xs:element name="Team8Consec12" type="xs:string"/>
        <xs:element name="Team8Consec13" type="xs:string"/>
        <xs:element name="Team8Consec14" type="xs:string"/>
        <xs:element name="Team8Consec15" type="xs:string"/>
        <xs:element name="Team8Consec16" type="xs:string"/>
        <xs:element name="Team8Consec17" type="xs:string"/>
        <xs:element name="Team8Consec18" type="xs:string"/>
        <xs:element name="Team8Consec19" type="xs:string"/>
        <xs:element name="Team8Consec20" type="xs:string"/>
        <xs:element name="Team9Diff1" type="xs:string"/>
        <xs:element name="Team9Diff2" type="xs:string"/>
        <xs:element name="Team9Diff3" type="xs:string"/>
        <xs:element name="Team9Diff4" type="xs:string"/>
        <xs:element name="Team9Diff5" type="xs:string"/>
        <xs:element name="Team9Diff6" type="xs:string"/>
        <xs:element name="Team9Diff7" type="xs:string"/>
        <xs:element name="Team9Diff8" type="xs:string"/>
        <xs:element name="Team9Diff9" type="xs:string"/>
        <xs:element name="Team9Diff10" type="xs:string"/>
        <xs:element name="Team9Diff11" type="xs:string"/>
        <xs:element name="Team9Diff12" type="xs:string"/>
        <xs:element name="Team9Diff13" type="xs:string"/>
        <xs:element name="Team9Diff14" type="xs:string"/>
        <xs:element name="Team9Diff15" type="xs:string"/>
        <xs:element name="Team9Diff16" type="xs:string"/>
        <xs:element name="Team9Diff17" type="xs:string"/>
        <xs:element name="Team9Diff18" type="xs:string"/>
        <xs:element name="Team9Diff19" type="xs:string"/>
        <xs:element name="Team9Diff20" type="xs:string"/>
        <xs:element name="Team9Consec1" type="xs:string"/>
        <xs:element name="Team9Consec2" type="xs:string"/>
        <xs:element name="Team9Consec3" type="xs:string"/>
        <xs:element name="Team9Consec4" type="xs:string"/>
        <xs:element name="Team9Consec5" type="xs:string"/>
        <xs:element name="Team9Consec6" type="xs:string"/>
        <xs:element name="Team9Consec7" type="xs:string"/>
        <xs:element name="Team9Consec8" type="xs:string"/>
        <xs:element name="Team9Consec9" type="xs:string"/>
        <xs:element name="Team9Consec10" type="xs:string"/>
        <xs:element name="Team9Consec11" type="xs:string"/>
        <xs:element name="Team9Consec12" type="xs:string"/>
        <xs:element name="Team9Consec13" type="xs:string"/>
        <xs:element name="Team9Consec14" type="xs:string"/>
        <xs:element name="Team9Consec15" type="xs:string"/>
        <xs:element name="Team9Consec16" type="xs:string"/>
        <xs:element name="Team9Consec17" type="xs:string"/>
        <xs:element name="Team9Consec18" type="xs:string"/>
        <xs:element name="Team9Consec19" type="xs:string"/>
        <xs:element name="Team9Consec20" type="xs:string"/>
        <xs:element name="Team10Diff1" type="xs:string"/>
        <xs:element name="Team10Diff2" type="xs:string"/>
        <xs:element name="Team10Diff3" type="xs:string"/>
        <xs:element name="Team10Diff4" type="xs:string"/>
        <xs:element name="Team10Diff5" type="xs:string"/>
        <xs:element name="Team10Diff6" type="xs:string"/>
        <xs:element name="Team10Diff7" type="xs:string"/>
        <xs:element name="Team10Diff8" type="xs:string"/>
        <xs:element name="Team10Diff9" type="xs:string"/>
        <xs:element name="Team10Diff10" type="xs:string"/>
        <xs:element name="Team10Diff11" type="xs:string"/>
        <xs:element name="Team10Diff12" type="xs:string"/>
        <xs:element name="Team10Diff13" type="xs:string"/>
        <xs:element name="Team10Diff14" type="xs:string"/>
        <xs:element name="Team10Diff15" type="xs:string"/>
        <xs:element name="Team10Diff16" type="xs:string"/>
        <xs:element name="Team10Diff17" type="xs:string"/>
        <xs:element name="Team10Diff18" type="xs:string"/>
        <xs:element name="Team10Diff19" type="xs:string"/>
        <xs:element name="Team10Diff20" type="xs:string"/>
        <xs:element name="Team10Consec1" type="xs:string"/>
        <xs:element name="Team10Consec2" type="xs:string"/>
        <xs:element name="Team10Consec3" type="xs:string"/>
        <xs:element name="Team10Consec4" type="xs:string"/>
        <xs:element name="Team10Consec5" type="xs:string"/>
        <xs:element name="Team10Consec6" type="xs:string"/>
        <xs:element name="Team10Consec7" type="xs:string"/>
        <xs:element name="Team10Consec8" type="xs:string"/>
        <xs:element name="Team10Consec9" type="xs:string"/>
        <xs:element name="Team10Consec10" type="xs:string"/>
        <xs:element name="Team10Consec11" type="xs:string"/>
        <xs:element name="Team10Consec12" type="xs:string"/>
        <xs:element name="Team10Consec13" type="xs:string"/>
        <xs:element name="Team10Consec14" type="xs:string"/>
        <xs:element name="Team10Consec15" type="xs:string"/>
        <xs:element name="Team10Consec16" type="xs:string"/>
        <xs:element name="Team10Consec17" type="xs:string"/>
        <xs:element name="Team10Consec18" type="xs:string"/>
        <xs:element name="Team10Consec19" type="xs:string"/>
        <xs:element name="Team10Consec20" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Result">
        <xs:sequence>
            <xs:element name="Player1" type="xs:string"/>
            <xs:element name="Player2" type="xs:string"/>
            <xs:element name="Player3" type="xs:string"/>
            <xs:element name="Ex1" type="xs:double"/>
            <xs:element name="Ex2" type="xs:double"/>
            <xs:element name="Ex3" type="xs:double"/>
            <xs:element name="Ai1" type="xs:double"/>
            <xs:element name="Ai2" type="xs:double"/>
            <xs:element name="Ai3" type="xs:double"/>
            <xs:element name="Diff1" type="xs:double" />
            <xs:element name="Diff2" type="xs:double" />
            <xs:element name="Diff3" type="xs:double" />
            <xs:element name="ExTotal" type="xs:double" />
            <xs:element name="AiTotal" type="xs:double" />
            <xs:element name="DiffTotal" type="xs:double" />
            <xs:element name="Total" type="xs:double" />
            <xs:element name="Rank" type="xs:int" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>
